*{
    margin: 0;
    padding: 0;
}
/*global start公用样式*/
.content{
    width: 1226px;
    margin: 0 auto;
}
.clearfix:after{
    content: "";
    clear: both;
    display: block;
    /*转换成块级元素*/
}
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}
/*global end */


/*topbar start*/
.topbar{
    width: 100%;
    background-color: #333333;
    height: 40px;
    color: #424242;
    font-size: 12px;
}
.topbar .topbar-left{
    float: left;
}
.topbar a{
    color: #b0b0b0;
}
.topbar .topbar-left a{

    text-decoration: none; /*去掉下划线*/
    line-height: 40px;

}
.topbar .topbar-left span{
    margin: 0 1px;
}
.topbar .topbar-right{
    float: right;
}
.topbar a:hover{
    color: #fff;
}
.topbar .topbar-right a{
    text-decoration: none;
    line-height: 40px;

}
.topbar .mini-car{
    background-color: #424242;
    display: block;
    height: 40px;
    width: 120px;
    float: right;
    text-align: center;
    margin-left: 30px;
}
.topbar .mini-car:hover{
    background-color: white;
    color: #ff6700;
}

/*topbar end*/
/*header start*/
/* header start*/
.header .content{
    padding: 20px 0;
}
.header .header-left{
    float: left;
}
.header .header-left a{
    display: block;
    height: 55px;
    width: 55px;
    background-color: #ff6700;
}
.header .header-left a:after{
    content: "";
    width: 55px;
    height: 55px;
    display: block;
    background: url("../images/mi-logo.png") no-repeat 50% 50%;
}
.header .header-center{
    float: left;
    margin-left: 150px;
}
.header .header-center ul{
    list-style-type: none;
}
.header .header-center li{
    float: left;
    height: 55px;
    line-height: 55px;
    padding: 0 10px;

}
.header .header-center a{
    color: #333;
    font-size: 16px;
    text-decoration: none;
}
.header .header-right{
    float: right;
}
.header .header-right input{
    height: 53px;
    width: 214px;
    padding: 1px 17px;
    border: 1px solid #e0e0e0;
}
.header .header-right .search-btn{
    float: right;
    height: 55px;
    width: 55px;
    border: 1px solid #e0e0e0;
    margin-left: -1px;
}
.header .search-btn{
    text-decoration: none;
    font-size: 24px;
    color: #616161;
    text-align: center;
    line-height: 55px;
}
.header .search-btn i{
    font-size: 24px;
}
.header .header-right{
    position: relative;
}
.header .header-right .input-text{
    position: absolute;
    top: 14px;
    right: 62px;
}
.header .input-text a{
    text-decoration: none;
    margin-left: 5px;
    padding: 0 5px;
    font-size: 12px;
    background: #eee;
    color: #757575;
}
.header .input-text a:hover{
    color: #ffffff;
    background-color:#ff6700 ;
}
/* header end*/

/*middle start*/
.middle .middle-all{
    position: relative;
}
.middle .middle-all img{
    display: block;
    margin: 0 auto;
}
.middle .middle-left{
    position: absolute;
    top: 0px;
    left: 20px;

}
.middle .middle-left li{
    list-style-type: none;
}
.middle .middle-left a{
    text-decoration: none;
}
.middle .middle-left {
    width: 234px;
    height: 460px;
    background-color:#424242 ;
    background: rgba(0,0,0,0.6);
    /*设置透明度*/
}
.middle .middle-left ul {
    position: absolute;
    top:20px;
    left: 0px;
}
.middle .middle-left a{
    display: block;
    width: 214px;
    height: 42px;
    color: white;
    text-align: left;
    margin-left: 20px;
    line-height: 42px;

}
.middle .middle-left li:hover{
    background-color: #f56600;
    color: #dddddd;
}
.middle .middle-left .iconfont{
    position: absolute;
    right: 10px;
}
.middle .middle-right {
    position: absolute;
    display: inline-block;
    width: 200px;
    height: 18px;
    right: 20px;
    bottom: 20px;

}
.middle-right div{
    display: inline-block;

}
.middle-right a{
    display: block;
    border: 4px solid #333333;
    border-radius: 50%;

}



/*middle end*/